.message {
    text-align: left;
    margin-bottom: 15px;
}
.message--human {
    text-align: right;
}

.message .text {
    border-radius: 10px;
    padding: 10px 20px;
}
.message--bot .text {
    background-color: #f4f4f4;
    max-width: 66%;
}
.message--human .text {
    background: #2c3e50;
    color: white;
}
.message--human .avatar {
    padding-left: 15px;
}
.message * {
    display: inline-block;
}